@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;

  background-image: url('/bg-cubes.png'), url('/bg-swirl.png');
  background-position: center;
  background-repeat: no-repeat;
}

@layer base {
  body {
    background-color: theme('colors.brand-primary');
  }
}

@layer components {
  .gradient-header {
    background: linear-gradient(
      to right,
      theme('colors.brand-accent-primary') 0%,
      theme('colors.brand-accent-secondary') 10%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-hero {
    background: linear-gradient(
      to left,
      #144ee3 0%,
      #eb568e 18.75%,
      #a353aa 64.06%,
      #144ee3 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
